/* Color of the buttons */
.colorCharcoal{
    background-color: #264653;
}

.colorPersianGreen{
    background-color: #2A9D8F;
}

.colorMaizeCrayola{
    background-color: #E9C46A;
}

.colorSandyBrown{
    background-color: #F4A261;
}

.colorBurntSienna{
    background-color: #E76F51;
}